body {
  background-image: url("img/background.png");
}

h1 {
  text-align: center;
  color: white;
}

#leftbutton {
  padding: 10px;
  display: block;
  margin-left: 0px;
  border-radius: 20px;
}

#rightbutton {
  padding: 10px;
  display: inline-block;
  position: relative;
  border-radius: 20px;
}

#shuffle {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}

#buttonset {
  display: block;
}

img {
  border: 2px solid black;
  border-radius: 20px;
}

#chart {
  position: relative;
  margin-top: 250px;
}
